[Unit]
Description=Ceph confd Daemon

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull treed/ceph-confd
ExecStart=/bin/bash -c "/usr/bin/docker run -e ETCD=$ETCD --name ceph-confd treed/ceph-confd"
ExecStop=/usr/bin/docker stop ceph-confd
ExecStopPost=/usr/bin/docker rm ceph-confd

[X-Fleet]
Global=true
